<div class="card border-danger mb-3" style="max-width: 20rem;">
  <div class="card-header">Upload Excel File</div>
  <div class="card-body">
    <form action="/file" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="excel">BrowseFile</label><input type="file" class="form-control" name="excel" required><br><br>
        <input type="submit" value="submit">
      </div>
    </form>
  </div>
</div>