<!-- Page Header -->
<div class="row page-titles">
    <div class="col-lg-12">
        <div class="card text-white bg-success">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Compnay Details</h3>
                        <h6 class="font-light m-t-0">Read about the interview processes your college-mates have been through..</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- /Page Header -->
<!-- Loading -->


<!-- Interview Experiences -->
<div class="align-items-center">
    
        <!-- All Approved Interview Experience -->
        <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/accenture" style="color: black">Accenture</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                               Accenture is a global professional services company providing solutions in strategy, consulting, digital, technology, and operations. They help clients navigate the digital age and offer services such as IT consulting, software development, data analytics, and cybersecurity.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <!--<span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>-->
                    </div>
                </div>
            </div>
        </div>


        <!-- Amazon -->
<div class="col-lg-12 align-items-center">
    <div class="card cc-widget">
        <div class="card-body">
            <div class="d-flex no-block flex-row">
                <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                <div class="m-l-10 align-self-center">
                    <h4 class="m-b-0"><a href="/amazon" style="color: black">Amazon</a></h4>
                    <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package :</h5>
                </div>
            </div>
            <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                <div>
                    <p>
                        Amazon is a multinational technology company that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the world's largest online marketplaces and offers a wide range of products, including electronics, books, household items, and more. Amazon also provides services such as Amazon Web Services (AWS), which offers cloud computing and storage solutions to businesses and individuals.
                    </p>
                </div>
            </div>
            <br>
            <div>
                <!--<span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>-->
            </div>
        </div>
    </div>
</div>



          <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/capgemini" style="color: black">Capgemini</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                               Capgemini is a global consulting and professional services company headquartered in Paris, France. It provides a wide range of services in the fields of technology, consulting, and outsourcing.                             </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>
 
        
          <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/cognizant" style="color: black">Cognizant</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                           Cognizant serves clients across a wide range of industries, including banking and financial services, healthcare, retail, manufacturing, technology, and communications. They have deep industry knowledge and tailor their solutions to meet the specific needs and challenges faced by organizations in each sector.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>

         

          <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/cybageSoftware" style="color: black">Cybage Software</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                           Cybage has expertise in serving clients across various industries. They have developed domain-specific knowledge and solutions for industries such as healthcare and life sciences, retail and e-commerce, banking and financial services, technology and media, and travel and hospitality.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>



          <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/globalLogic" style="color: black">Global Logic</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                                Principal Global Services is a Global In-house Center, dedicated to supporting Principal Financial Group achieve our common purpose of empowering and enabling our customers across the globe by protecting and advancing their financial well-being through retirement, insurance and asset management solutions.
                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>



          <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/ibm" style="color: black">I B M</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                                IBM provides industry-specific solutions tailored to sectors such as healthcare, finance, manufacturing, retail, telecommunications, and government. These solutions address specific industry challenges and help organizations improve efficiency, innovation, and customer experiences.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>



           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/kpmg" style="color: black">KPMG</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                                KPMG is one of the world's leading professional services firms, providing a wide range of audit, tax, and advisory services to clients in various industries.                             </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>


           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/lti" style="color: black">LTI</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                          LTI, or Larsen & Toubro Infotech, is a global technology consulting and digital solutions company headquartered in India. LTI provides a wide range of services to clients across various industries, helping them navigate the digital landscape and achieve their business goals.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>

           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/nelsionIQ" style="color: black">NielsenIQ</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                          NielsenIQ is a global measurement and data analytics company that provides insights and market research services to various industries. It specializes in consumer behavior analysis, retail measurement, media measurement, and other related areas.

                        </div>
                    </div>
                    <br>
                    <div>
                        <!--<span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>-->
                    </div>
                </div>
            </div>
        </div>


           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/p360" style="color: black">P360</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                            P360 enables life science companies to proactively engage AI technology across all aspects of their business – sales, patient journey, analytics – even providing custom built solutions fueled by an internal team powered in the highest global technology competencies.
                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>



           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/persistentSystems" style="color: black">Persistent Systems</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                              Persistent Systems serves clients across various industries, including healthcare, financial services, technology, manufacturing, and telecommunications. They have domain-specific expertise and tailor their solutions to meet the unique requirements of each industry.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>


           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/principalGlobal" style="color: black">Principal Global</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                                Principal Global Services is a Global In-house Center, dedicated to supporting Principal Financial Group achieve our common purpose of empowering and enabling our customers across the globe by protecting and advancing their financial well-being through retirement, insurance and asset management solutions.
                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>


           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/pwc" style="color: black">PWC</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                               PwC, short for PricewaterhouseCoopers, is a multinational professional services network known for providing auditing, advisory, and tax services to clients around the world.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>


           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/siemens" style="color: black">Siemense</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                               Siemens is a global conglomerate company headquartered in Munich, Germany. It is one of the largest industrial manufacturing companies in Europe and operates in various sectors, including energy, healthcare, transportation, and automation.                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>



           <div class="col-lg-12 align-items-center" >
            
            <div class="card cc-widget" >
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="bi bi-briefcase"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0"><a href="/tcs" style="color: black">TCS</a></h4>
                            <h5 class="text-muted m-b-0"><i class="fa fa-money"></i> Highest Package : </h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details interview">
                        <div>
                            <p>
                                TCS is an IT services, consulting, and business solutions organization that has been partnering with many of the world's largest businesses in their transformation journeys for over 50 years. We offer a consulting-led, cognitive-powered, integrated portfolio of business, technology, and engineering services and solutions.
                                            </p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span class="label label-warning" style="margin-right: 10px font-size: 13px;" >Mass</span>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

