
<!-- <h2>Filter DIV Elements</h2> -->

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('gapy')"> Gap Year - Yes</button>
  <button class="btn" onclick="filterSelection('gapn')"> Gap Year - No</button>
  <button class="btn" onclick="filterSelection('cgpa8m')">CGPA >8 </button>
  <button class="btn" onclick="filterSelection('cgpa9m')"> CGPA > 9</button>
  <button class="btn" onclick="filterSelection('cgpa6m')"> CGPA > 6</button>
  <button class="btn" onclick="filterSelection('cgpa7m')"> CGPA > 7</button>
  <button class="btn" onclick="filterSelection('cgpa6l')"> CGPA less than 6</button>
</div>

<div class="container">
  <!-- <div class="filterDiv cars">BMW</div> -->

    <div class="filterDiv event gapy cgpa8m cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;"> Himanshu Shendare</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 8.5
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"Yes"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>
    <div class="filterDiv event gapn cgpa8m cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;text-align: center;"> Toshit Kale</span>

        </h3>
        <p>
            <br />
           
                Branch : "ETC"
                <br>
                Pass Year:  "2023"
                <br>
                Placed :"No"
                <br>
                cgpa: 8.1
                <br>
                email :"xyz.in@gmail.com"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;"> Saurabh Chavan</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2022"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.5
                <br>
                email :"new1@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Vishal kapgate</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2021"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.7
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Gaurang Kumar</span>

        </h3>
        <p>
            <br />
           
                Branch : "ETC"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.4
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Kirtesh Maske</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2022"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.4
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapy cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Prajwal Chunarkar</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 6.1
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>

    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Sanket Dhengare</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.2
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>

    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Rajat Gaikwad</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.3
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>

    <div class="filterDiv event gapn cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Snehal Nasre</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 6.3
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>

    <div class="filterDiv event gapn cgpa6l" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Gunjan khonde</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2023"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 4.8
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Esha Fagse</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.8
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa8m cgpa7m cgpa6m cgpa9m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Anoushka Sinha</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2020"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 9.8
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa6l" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Abhinav Mahalle</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 5.9
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapy cgpa8m cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Nikhil Tamrakar</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 8.7
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"Yes"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Siddhesh Kalbande</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.5
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>



    <div class="filterDiv event gapy cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Dewang Kakade</span>

        </h3>
        <p>
            <br />
           
                Branch : "CT"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 6.9
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"Yes"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapy cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Atharv Kevalram</span>

        </h3>
        <p>
            <br />
           
                Branch : "Mech"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 7.9
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"Yes"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapy cgpa8m cgpa7m cgpa6m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Niraj Jadhav</span>

        </h3>
        <p>
            <br />
           
                Branch : "CSE"
                <br>
                Pass Year:  "2019"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 8.9
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"Yes"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>


    <div class="filterDiv event gapn cgpa8m cgpa7m cgpa6m cgpa9m" data-month="March" data-vendor="Multi" data-sector="Education" data-theme="Curriculum">
        <h3>
            <span style="color: #6400aa;">Ankit Gupta</span>

        </h3>
        <p>
            <br />
           
                Branch : "ETC"
                <br>
                Pass Year:  "2015"
                <br>
                Placed :"Yes"
                <br>
                cgpa: 9.9
                <br>
                email :"21070865@ycce.in"
                <br>
                gapYear :"No"
        </p>
        <a href="#computerScienceLearningFestival" class="showModal" data-link-href="durham-centre-science"><span>.</span></a>
    </div>

</div>




