    <header class="section-header text-center ">
        <h1 class="animate__animated animate__fadeInDown heading " >TP & CG Portal</h1>
        </header>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" style="height: 70vh; overflow-y: hidden;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Crouser/Crouser1.png" class="d-block w-100" alt="image not available">
        
      </div>
      <div class="carousel-item">
        <img src="assets/images/Crouser/Crouser2.jpg" class="d-block w-100" alt="image not available">
        
      </div>
      <div class="carousel-item">
        <img src="assets/images/Crouser/Crouser3.png" class="d-block w-100" alt="image not available">
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>







<!-- <link rel="stylesheet" href="public/app/views/layout/style.css" /> -->
<!-- <div class="container">                              changed by SHUBHAM BURDE   -->  
    <!-- <h2 class="heading">Testimonials</h2>            changed by SHUBHAM BURDE   -->  
    <!--<div class="profile">

        <div class="profile-container">
            <div class="profile-pic">
                <img src="assets/images/profile/M.png" alt="Profile" />
            </div>
            <div class="info">
                <h3 class="name">Toshit Kale</h3>
                <div class="words"><hr>
                    <h3>** LPA </h3>
                    <p>
                        Company: Abc Technologies <br>Location: Asdfghjkl <br><h3>What they have to say :</h3><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo nostrum quae perspiciatis, praesentium quaerat ad nemo vitae repellat omnis incidunt ! 
                    </p>
                </div>
            </div>
        </div>

        <div class="profile-container">
            <div class="profile-pic">
                <img src="assets/images/profile/M.png" alt="Profile" />
            </div>
            <div class="info">
                <h3 class="name">Rajat Gaikwad</h3>
                <div class="words"><hr>
                    <h3>** LPA </h3>
                    <p>
                        Company: Abc Technologies <br>Location: Asdfghjkl <br><h3>What they have to say :</h3><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo nostrum quae perspiciatis, praesentium quaerat ad nemo vitae repellat omnis incidunt ! 
                    </p>
                </div>
            </div>
        </div>

        <div class="profile-container">
            <div class="profile-pic">
                <img src="assets/images/profile/M.png" alt="Profile" />
            </div>
            <div class="info">
                <h3 class="name">Himanshu Shendre</h3>
                <div class="words"><hr>
                    <h3>** LPA </h3>
                    <p>
                        Company: Abc Technologies <br>Location: Asdfghjkl <br><h3>What they have to say :</h3><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo nostrum quae perspiciatis, praesentium quaerat ad nemo vitae repellat omnis incidunt ! 
                    </p>
                </div>
            </div>
        </div>

        <div class="profile-container">
            <div class="profile-pic">
                <img src="assets/images/profile/M.png" alt="Profile" />
            </div>
            <div class="info">
                <h3 class="name">Saurabh Chavan</h3>
                <div class="words"><hr>
                    <h3>** LPA </h3>
                    <p>
                        Company: Abc Technologies <br>Location: Asdfghjkl <br><h3>What they have to say :</h3><br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo nostrum quae perspiciatis, praesentium quaerat ad nemo vitae repellat omnis incidunt ! 
                    </p>
                </div>
            </div>
        </div>
    </div>-->

    
    <!-- From here I have commented the code --------  SHUBHAM BURDE -->
    <!-- <div class="gallery-container">
      <div class="gallery-item gallery-item-1">
        <iframe class="gallery-video" src="https://www.youtube.com/embed/DNKepIt1v6s" allowfullscreen></iframe>
      </div>
      <div class="gallery-item gallery-item-2">
         <iframe class="gallery-video" src="https://youtube.com/embed/4fIOnpZgTfs?feature=share" allowfullscreen></iframe>
      </div>
      <div class="gallery-item gallery-item-3">
        <iframe class="gallery-video" src="https://youtube.com/embed/4fIOnpZgTfs?feature=share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="gallery-controls"></div>
  </div>

</div> -->

<!-- START VIDEO SECTION    -----   SHUBHAM BURDE -->
<h2 class="heading testimonials-heading">Testimonials</h2>
<section>
  <div class="video-scroll-container">
    <iframe src="https://www.youtube.com/embed/3YiO4TVUVck?si=bqqk1PAvY7tZ_Lg1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://youtube.com/embed/4fIOnpZgTfs?feature=share" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/SDKXq6hFf-0?si=b9XcgAPxkEn2AFyV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<!-- END VIDEO SECTION    -----   SHUBHAM BURDE -->