<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">T&P Portal YCCE, Nagpur </h4>
    </div>

    <!-- Placements -->
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center dropdown">
            
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-user"></i> &nbsp;Placement Stats
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/home">Placements 2020-21</a></li>
                   
                </ul>

        </div>
    </div>

</div>
<div class="row">
    
  
    <!-- Interview Experience -->
    <!--<div class="col-lg-12" ng-show="main.isLoggedIn">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-info"><i class="icon-rocket"></i> Interview Experiences!</h3> Appeared for an interview? Share details about the interview process you have been through.. Now, you can add your placement/internship interview experience under Compose Interview Experience section to help others.
            <br><br><a href="/interview-experiences" class="btn btn-primary">Write Now</a>
        </div>
    </div>-->
    <!-- Happy New Year -->
    <!--<div class="col-lg-12">
        <div class="card news-slide social-profile" style="background:url(assets/images/MNIT/happy.jpg) center center / cover;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                &lt;!&ndash; Carousel items &ndash;&gt;
                <div class="carousel-inner">
                    <div class="active carousel-item">
                        &lt;!&ndash;<div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">Don't limit your challenges, challenge your limits.</h3>
                        </div>&ndash;&gt;
                    </div>
                    <div class="carousel-item">
                        &lt;!&ndash;<div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">The best preparation for tomorrow is doing your best today.</h3>
                        </div>&ndash;&gt;
                    </div>
                    <div class="carousel-item">
                        &lt;!&ndash;<div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">Believe you can and you're halfway there.</h3>
                        </div>&ndash;&gt;
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>

<!-- UG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>UG Placement Statistics 2020-2021</h3>
                        <h5 class="font-light m-t-0">T&P Portal YCCE, Nagpur</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>PLACEMENT</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">CT</td>
                        <td><span class="text-info">21</span></td>
                        <td class="txt-oflo">5</td>
                        <td><span class="text-info">54%</span></td>
                        <td><span class="text-success">10 LPA</span></td>
                        <td class="txt-oflo">10 LPA</td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

