
  <!-- <link rel="stylesheet" href="public/app/views/layout/style.css" /> -->
    <div class="container">
      <h2 class="heading">Our Achievers</h2>
      <div class="profile">
        <div class="profile-container">
          <div class="profile-pic">
            <img src="assets/images/profile/toshit_profile.jpg" alt="Profile" />
          </div>
          <div class="info">
            <h3 class="name">Toshit Kale</h3>
            <div class="words">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
              dolorem saepe inventore magnam doloribus reiciendis animi placeat,
              dolore corrupti velit dolores amet quae tenetur voluptatum!
            </div>
          </div>
        </div>
        <div class="profile-container">
          <div class="profile-pic">
            <img src="assets/images/profile/rajat_profile.jpg" alt="Profile" />
          </div>
          <div class="info">
            <h3 class="name">Rajat Gaikwad</h3>
            <div class="words">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
              natus facere nostrum! In facilis, recusandae laboriosam ullam
              error eos a nisi ut. Exercitationem, dignissimos maxime.
            </div>
          </div>
        </div>
        <div class="profile-container">
          <div class="profile-pic">
            <img src="assets/images/profile/M.png" alt="Profile" />
          </div>
          <div class="info">
            <h3 class="name">Himanshu Shendre</h3>
            <div class="words">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Necessitatibus soluta, excepturi at dicta dignissimos dolores
              doloremque, 
            </div>
          </div>
        </div>
        <div class="profile-container">
          <div class="profile-pic">
            <img src="assets/images/profile/M.png" alt="Profile" />
          </div>
          <div class="info">
            <h3 class="name">Saurabh Chavan</h3>
            <div class="words">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              dolores quo deleniti cumque architecto ipsam distinctio
              consequatur iure necessitatibus et sit itaque, quae illum fuga!
            </div>
          </div>
        </div>
      </div>
    </div>



   