@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
  min-width: 800px;
}

div {
  display: block;
}

img {
  width: 100%;
}

/*ACHIEVERS CONTAINER CSS*/

.container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.heading {
  margin-top: 0;
  text-align: center;
  color: #6466eb;
  font-size: 48px;
  font-weight: bold;
 
 padding-top:25px ;
 padding-bottom:25px;
  border-radius: 55px;
}

.profile {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-top: 60px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.profile-container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
}

.profile-pic {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: bottom;
  overflow: hidden;

  background: linear-gradient(-25deg,
      rgb(56, 206, 209) 30%,
      rgb(36, 116, 231) 76%);
}

.info {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: center;
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.name {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}

/*COMPANIES CONTAINER CSS*/

.companies-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.slide-change-btn {
  display: block;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.profile-sm {
  grid-template-columns: repeat(6, 1fr);
  margin-top: 0px;
  width: 50%;
  margin-left: 25%;
}

.profile-pic-sm {
  border-radius: 70px;
}

/*FOOTER CSS*/
/* footer {
  background-color: rgb(65, 54, 54);
  color: #fff;
  padding: 20px;
} */

.content {
  width: 24%;
  height: auto;
}




/* Navigation bar styling  */





.admenus * {
  margin: 0;
  padding: 0;
}

ul.admenus {
  list-style: none;
  line-height: 1;
  overflow: visible !important;
}

ul.admenus:after {
  margin: 0;
  padding: 0;
  content: ' ';
  display: block;
  height: 0px;
  clear: both;
}

ul.admenus li {
  float: left;
  display: inline;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

ul.admenus li a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: white; 
  /* font-family: 'Oswald'; */
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

ul.admenus li a:hover,
ul.admenus li a.hoverover {
  background: #fafbfc;
  color: rgb(12, 12, 12);
}

ul.admenus ul {
  position: absolute;
  display: none;
  top: 100%;
  border: 1px solid #ccc;
}

ul.admenus li:hover>ul {
  display: block;
}

ul.admenus ul li {
  z-index: 72;
  float: none;
  min-width: 160px;
  background: blue;
  background: #6238cd;
  text-shadow: none;
}

ul.admenus ul li a {
  text-transform: none;
  font-weight: normal;
  color: #aaa;
  /* font-family: 'Arial'; */
}

ul.admenus ul li a:hover,
ul.adajaxmenu ul li a.hover {
  background: #6238cd;
}

ul.admenus ul ul {
  display: none;
  left: 100%;
  top: 0;
}

ul.adajaxmenu li div.submenu {
  position: absolute;
  width: 600px;
  z-index: 90;
  left: 0;
  top: 100%;
  overflow: hidden;
  min-height: 150px;
  background: #6238cd;
  -moz-transform: translate(0, 30px);
  -webkit-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
  transform-origin: 50% 0;
  visibility: hidden;
  opacity: 0;
  color: #929292;
  box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

ul.adajaxmenu li:hover div.submenu {
  visibility: visible;
  opacity: 1;
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

ul.adajaxmenu ul,
ul.adajaxmenu ul li {
  display: block !important;
  border: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
}

ul.adajaxmenu ul li {
  background: none;
  float: none;
}

ul.adajaxmenu ul.verticlemenu {
  position: absolute;
  width: 33%;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
}

ul.adajaxmenu ul.postslist {
  position: relative;
  display: block;
  width: 65%;
  float: right;
  margin: 0 0 15px 0 !important;
  background: none;
}

ul.adajaxmenu ul.postslist li {
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 60px;
  padding: 15px 8px 15px 110px !important
}

ul.adajaxmenu ul.postslist li .imgCont {
  position: absolute;
  left: 0;
  top: 15px;
  width: 100px;
  height: 70px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 1px solid #929292;
}

ul.adajaxmenu ul.postslist li .imgCont img {
  position: relative;
  top: -20px;
  padding: 0;
  width: 100px;
  height: 100px;
  display: block;
}

ul.adajaxmenu ul.postslist li a {
  display: block;
  line-height: 1.4;
  padding: 0 !important;
  color: #666;
  /* font-family: 'Arial'; */
  font-size: 10px;
  transition: all 0.3s ease-in-out;
}

ul.adajaxmenu ul.postslist li a:hover {
  color: #f54325;
  background: transparent;
}

ul.adajaxmenu .loader {
  background: url('https://4.bp.blogspot.com/-sRHd2OR7omQ/VFBOax0jdNI/AAAAAAAABgg/ei6bgO1agM0/s1600/adloading.gif') no-repeat scroll 0 0 transparent;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  right: 5px;
}

ul.adajaxmenu .menuArrow {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #fff;
  display: block;
  height: 0;
  margin-top: -4px;
  position: absolute;
  right: 11px;
  top: 50%;
  width: 0;
}

#adajaxmenu {
  background: #6238cd;
  height: 50px;
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}



#logo:hover{
  background-color: #6238cd;
}


nav{
  width: 100%;
}

#sub-nav{
  background-color: white;
}



/* =============Student Filter Page =====================*/

*
{
  font-family:'Calibri',sans-serif;
}
	

	.purple-btn,
	.purple-background
		{
			background-color:rgb(100,0,170);
		}
	
	.purple-btn:hover
		{
			background-color:rgb(70,0,120);
		}
	
	
	.magenta-btn,
	.magenta-background
		{
			background-color:rgb(230,0,80);
		}
	
	.magenta-btn:hover
		{
			background-color:rgb(170,0,60);
		}
	
	.blue-btn,
	.blue-background
		{
			background-color:rgb(0,170,220);
		}

	.blue-btn:hover
		{
			background-color:rgb(0,120,160);
		}


	.green-btn,
	.green-background
		{
			background-color:rgb(80,175,80);
		}

	.green-btn:hover
		{
			background-color:rgb(55,147,55);
		}

	.yellow-btn,
	.yellow-background
		{
			background-color:rgb(255,220,0);
		}

	.yellow-btn:hover
		{
			background-color:rgb(224,192,0);
		}

	.dark-grey-btn,
	.dark-grey-background
		{
			background-color:rgb(51,51,51);
		}

	.dark-grey-btn:hover
		{
			background-color:rgb(35,35,35);
		}

	.medium-grey-btn,
	.medium-grey-background
		{
			background-color:rgb(102,102,102);
		}

	.medium-grey-btn:hover
		{
			background-color:rgb(70,70,70);
		}

	.light-grey-btn,
	.light-grey-background
		{
			background-color:rgb(221,221,221);
		}

	.light-grey-btn:hover
		{
			background-color:rgb(178,178,178);
		}


	.red-btn,
	.red-background
		{
			background-color:rgb(230,0,20);
		}

	.red-btn:hover
		{
			background-color:rgb(186,0,16);
		}

	.purple_secondary_btn
		{
			background-color:white;
			border: thin solid rgb(100,0,170)!important;
			color:rgb(100,0,170)!important;
		}

	.purple_secondary_btn:hover
		{
			background-color:rgb(100,0,170);
			color:white!important;
		}


	.magenta_secondary_btn
		{
			background-color:white;
			border: thin solid rgb(230,0,80)!important;
			color:rgb(230,0,80)!important;
		}

	.magenta_secondary_btn:hover
		{
			background-color:rgb(230,0,80);
			color:white!important;
		}

	/* [ button ] */

	.more-info-btn
		{
			display:inline-block;
			padding:10px 20px;
			text-decoration:none;
			font-size:16px;
			font-weight:100!important;
			border-radius:5px;
			transition:all, 0.5s;
			-moz-transition:all, 0.5s;
			-wekbkit-transition:all, 0.5s;
			-o-transition:all, 0.5s;
			-ms-transition:all, 0.5s;
		}
	
	.more-info-btn:hover
		{
			text-decoration:none!important;
		}

	.more-info-btn span{
		display: inline-block;
		margin-left: 10px;
		transform: translateY(0.5px)!important;
	}

	
		
		
		.purple_secondary_btn span, 
		.magenta_secondary_btn span,
		.text_link span{
			    display: inline-block;
    			margin-left: 10px;
    			transform: translateY(0.5px)!important;		
		}
		
	.white-text
		{
			color:white!important;
		}

	.blue-text
		{
			color:rgb(0,170,220)!important;
		}

	.purple-text
		{
			color:rgb(100,0,170)!important;
		}

	.grey-text
		{
			color:rgb(51,51,51)!important;
		}

	.magenta-text
		{
		color:rgb(230,0,80)!important;
		}

	.green-text
		{
		color:rgb(80,175,80)!important;
		}


	/* video container */
		
	.video-container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
	}
	
	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


	/*[use with HTML5 video tags + the above video class for the src]*/

	.video_container {
		position: relative;
		width: 100%;
	}

	h1{
		font-size:36px!important;
		line-height:42px!important;
		margin-bottom:0;
	}
	
	
	h2{
		font-size:30px!important;
		line-height:36px!important;
	}

	
	.value{
		font-size: 6em;
		position: relative;
		top: 22px;
		font-weight: bold;
	}
	
	
/* === intro panels === */
	
	.intro-panel,
	.video-panel
		{
			position: relative;
			overflow: hidden;
			margin-bottom:20px;
			height:auto;
			width:100%;
		}
	
	
	.intro-panel img
		
		{
			width:100%;
			position:relative;
		}
	
	.intro-panel > .copy-container,
	.video-panel > .copy-container
		{
			position:absolute;
			background-color:#6400aa;
			padding:20px;
			height:auto;
			bottom:0;
			width:40%;
			z-index:1;
		}

	
	.copy-container p
		{
			font-size:16px;
			line-height:22px;
		}

.copy-block-container 
	{
		padding: 5px;
		margin-bottom: 10px;
	}	

	
.tile_wrapper
{
	box-sizing:border-box;
	overflow:hidden;
}

.event {
	position:relative;
	overflow:hidden;
	float: left;
    width: 24%;
    margin-right: 1%;
    border: thin solid #dddddd;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 1%;
	transition:all, 500ms;
	height:270px;
}

.event:hover
	{
		border-color:#6400aa;
	}


.tile_wrapper:nth-child(4n)
	{
		margin-right:0;
	}

.event h3
	{
		text-align:right;
	}

.showModal
	{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

.showModal span
	{
		visibility:hidden;
	}
	
.festivalDetails p
	{
		margin:0 0 2px 0!important;
	}		 
		 
#reset_search p
	{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 160px;
    text-align: center;
}

#reset_search p:hover
	{
		cursor:pointer
}

.combine
	{
		padding:10px;
		margin-right:10px;
		box-sizing:border-box;
	}

/*============================
==============================
==============================
======== MODAL POP UP ========
==============================
==============================
============================*/

	.modal
	{
		position: fixed;
		top:0;
		left:100%;
		width:100%;
		height:100%;
		background-color: rgba(100,0,170,0.8);
		overflow-y: auto;
	}

	.modalWrapper
	{
		height: 100%;
		width:100%;
		display: table;
	}
	
	.modalContent
	{
		display: table-cell;
		vertical-align: middle;
		position: relative;
		width:100%;
		height:100%;
	}
	
	.modalBox
	{
		margin:0 auto;
		max-width: 100%;
		box-sizing: border-box;
		padding:50px;
		background-color: white;
		width:600px;
		border-radius:5px;
	}

.noBackground
	{
		background-color:transparent!important;
	}
	
	.modalInfo
	{
		max-width: 500px;
		width:100%;
	}
	
	.modalInfo img
	{
		max-width:100%;
		height: auto;
	}

.modalInfoCopy
	{
		margin:10px 0;
	}
	
.closeModal {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 2%;
    right: 2%;
    transform: rotate(45deg);
}
	
.closeModal:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.7);
}
	
.closeModal:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
}
	
	
.modal.active .modalWrapper .modalContent .closeModal:hover
	{
		cursor: pointer;
	}	
	
.modal.active .modalWrapper .modalContent .closeModal::before,
.modal.active .modalWrapper .modalContent .closeModal::after
	{
		background:rgba(255,255,255,1);
	}
	
	
.modal.active .modalWrapper .modalContent .closeModal::before {
    transition: .25s .5s ease-in-out;
    height: 100%;
}
	
.modal.active .modalWrapper .modalContent .closeModal::after{
		transition: .25s .25s ease-in-out;
    	width: 100%;
	}	

.modal.active {
	z-index:1;
	left: 0%;
    animation: fadeIn .25s ease-in-out;
}

.filterDiv {
	float: left;
	position:relative;
	background-color: #e1d4d4;
	/* color: #ffffff; */
	width: 300px;
	line-height: 35px;
	height:350px;
	text-align: center;
	margin: 2px;
	/* padding: 10px; */
	display: none;
  }

  /* position:relative;
	overflow:hidden;
	float: left;
    width: 24%;
    margin-right: 1%;
    border: thin solid #dddddd;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 1%;
	transition:all, 500ms;
	height:270px; */
  
  
  .show {
	display: block;
  }
  
  .container {
	margin-top: 20px;
	overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
  }
  
  .btn:hover {
	background-color: #ddd;
  }
  
  .btn.active {
	background-color: #666;
	color: white;
  }