
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators</h4>
    </div>

    <!-- Teams -->
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center dropdown">
            
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-user"></i> &nbsp;Placement Teams
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/team">Team 2022</a></li>
                  <li><a class="dropdown-item" href="/team2021">Team 2021</a></li>
                  <li><a class="dropdown-item" href="/team2020">Team 2020</a></li>
                </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <button class="btn btn-block btn-primary btn-rounded" data-toggle="modal" data-target="#openLetterModel"><i class="ti-bell"></i> &nbsp; Open letter to Student Placement Team 2020</button>
    </div>
</div>

<!-- Model Boxes -->
<!-- Delete Company   -->
<div class="modal fade" id="openLetterModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- Notification Form-->
            <div class="modal-header">
                <h4 class="modal-title" id="addCompanyNotificationModalHeader">Thank you Team!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Confirm Notification -->
            <div class="modal-body">
                <span>
                    Dear <b>Senior SPCs,</b>
                    <br><br>
                    
                    Your Junior SPCs
                </span>
            </div>

            <div class="modal-footer">
                <button type="buttom" data-dismiss="modal" class="btn btn-success">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDUQzT2PsvB_pMVPVdPjrg7OiOoa2awVp6uQpZpi-DZZH0MwCerEG4aCDyi0PNe3xEd_I&usqp=CAU" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">dymmyCoordinator</h4>
                            <h6 class="card-subtitle">Computer Technology</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 0000000000</font></a></div>
                            </div>
                        </center>
                    </div>

                    

            </div>
        </div>
    </div>
</div>


