*
{
  font-family:'Calibri',sans-serif;
}
	

	.purple-btn,
	.purple-background
		{
			background-color:rgb(100,0,170);
		}
	
	.purple-btn:hover
		{
			background-color:rgb(70,0,120);
		}
	
	
	.magenta-btn,
	.magenta-background
		{
			background-color:rgb(230,0,80);
		}
	
	.magenta-btn:hover
		{
			background-color:rgb(170,0,60);
		}
	
	.blue-btn,
	.blue-background
		{
			background-color:rgb(0,170,220);
		}

	.blue-btn:hover
		{
			background-color:rgb(0,120,160);
		}


	.green-btn,
	.green-background
		{
			background-color:rgb(80,175,80);
		}

	.green-btn:hover
		{
			background-color:rgb(55,147,55);
		}

	.yellow-btn,
	.yellow-background
		{
			background-color:rgb(255,220,0);
		}

	.yellow-btn:hover
		{
			background-color:rgb(224,192,0);
		}

	.dark-grey-btn,
	.dark-grey-background
		{
			background-color:rgb(51,51,51);
		}

	.dark-grey-btn:hover
		{
			background-color:rgb(35,35,35);
		}

	.medium-grey-btn,
	.medium-grey-background
		{
			background-color:rgb(102,102,102);
		}

	.medium-grey-btn:hover
		{
			background-color:rgb(70,70,70);
		}

	.light-grey-btn,
	.light-grey-background
		{
			background-color:rgb(221,221,221);
		}

	.light-grey-btn:hover
		{
			background-color:rgb(178,178,178);
		}


	.red-btn,
	.red-background
		{
			background-color:rgb(230,0,20);
		}

	.red-btn:hover
		{
			background-color:rgb(186,0,16);
		}

	.purple_secondary_btn
		{
			background-color:white;
			border: thin solid rgb(100,0,170)!important;
			color:rgb(100,0,170)!important;
		}

	.purple_secondary_btn:hover
		{
			background-color:rgb(100,0,170);
			color:white!important;
		}


	.magenta_secondary_btn
		{
			background-color:white;
			border: thin solid rgb(230,0,80)!important;
			color:rgb(230,0,80)!important;
		}

	.magenta_secondary_btn:hover
		{
			background-color:rgb(230,0,80);
			color:white!important;
		}

	/* [ button ] */

	.more-info-btn
		{
			display:inline-block;
			padding:10px 20px;
			text-decoration:none;
			font-size:16px;
			font-weight:100!important;
			border-radius:5px;
			transition:all, 0.5s;
			-moz-transition:all, 0.5s;
			-wekbkit-transition:all, 0.5s;
			-o-transition:all, 0.5s;
			-ms-transition:all, 0.5s;
		}
	
	.more-info-btn:hover
		{
			text-decoration:none!important;
		}

	.more-info-btn span{
		display: inline-block;
		margin-left: 10px;
		transform: translateY(0.5px)!important;
	}

	
		
		
		.purple_secondary_btn span, 
		.magenta_secondary_btn span,
		.text_link span{
			    display: inline-block;
    			margin-left: 10px;
    			transform: translateY(0.5px)!important;		
		}
		
	.white-text
		{
			color:white!important;
		}

	.blue-text
		{
			color:rgb(0,170,220)!important;
		}

	.purple-text
		{
			color:rgb(100,0,170)!important;
		}

	.grey-text
		{
			color:rgb(51,51,51)!important;
		}

	.magenta-text
		{
		color:rgb(230,0,80)!important;
		}

	.green-text
		{
		color:rgb(80,175,80)!important;
		}


	/* video container */
		
	.video-container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
	}
	
	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


	/*[use with HTML5 video tags + the above video class for the src]*/

	.video_container {
		position: relative;
		width: 100%;
	}

	h1{
		font-size:36px!important;
		line-height:42px!important;
		margin-bottom:0;
	}
	
	
	h2{
		font-size:30px!important;
		line-height:36px!important;
	}

	
	.value{
		font-size: 6em;
		position: relative;
		top: 22px;
		font-weight: bold;
	}
	
	
/* === intro panels === */
	
	.intro-panel,
	.video-panel
		{
			position: relative;
			overflow: hidden;
			margin-bottom:20px;
			height:auto;
			width:100%;
		}
	
	
	.intro-panel img
		
		{
			width:100%;
			position:relative;
		}
	
	.intro-panel > .copy-container,
	.video-panel > .copy-container
		{
			position:absolute;
			background-color:#6400aa;
			padding:20px;
			height:auto;
			bottom:0;
			width:40%;
			z-index:1;
		}

	
	.copy-container p
		{
			font-size:16px;
			line-height:22px;
		}

.copy-block-container 
	{
		padding: 5px;
		margin-bottom: 10px;
	}	

	
.tile_wrapper
{
	box-sizing:border-box;
	overflow:hidden;
}

.event {
	position:relative;
	overflow:hidden;
	float: left;
    width: 24%;
    margin-right: 1%;
    border: thin solid #dddddd;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 1%;
	transition:all, 500ms;
	height:270px;
}

.event:hover
	{
		border-color:#6400aa;
	}


.tile_wrapper:nth-child(4n)
	{
		margin-right:0;
	}

.event h3
	{
		text-align:right;
	}

.showModal
	{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

.showModal span
	{
		visibility:hidden;
	}
	
.festivalDetails p
	{
		margin:0 0 2px 0!important;
	}		 
		 
#reset_search p
	{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 160px;
    text-align: center;
}

#reset_search p:hover
	{
		cursor:pointer
}

.combine
	{
		padding:10px;
		margin-right:10px;
		box-sizing:border-box;
	}

/*============================
==============================
==============================
======== MODAL POP UP ========
==============================
==============================
============================*/

	.modal
	{
		position: fixed;
		top:0;
		left:100%;
		width:100%;
		height:100%;
		background-color: rgba(100,0,170,0.8);
		overflow-y: auto;
	}

	.modalWrapper
	{
		height: 100%;
		width:100%;
		display: table;
	}
	
	.modalContent
	{
		display: table-cell;
		vertical-align: middle;
		position: relative;
		width:100%;
		height:100%;
	}
	
	.modalBox
	{
		margin:0 auto;
		max-width: 100%;
		box-sizing: border-box;
		padding:50px;
		background-color: white;
		width:600px;
		border-radius:5px;
	}

.noBackground
	{
		background-color:transparent!important;
	}
	
	.modalInfo
	{
		max-width: 500px;
		width:100%;
	}
	
	.modalInfo img
	{
		max-width:100%;
		height: auto;
	}

.modalInfoCopy
	{
		margin:10px 0;
	}
	
.closeModal {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 2%;
    right: 2%;
    transform: rotate(45deg);
}
	
.closeModal:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.7);
}
	
.closeModal:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
}
	
	
.modal.active .modalWrapper .modalContent .closeModal:hover
	{
		cursor: pointer;
	}	
	
.modal.active .modalWrapper .modalContent .closeModal::before,
.modal.active .modalWrapper .modalContent .closeModal::after
	{
		background:rgba(255,255,255,1);
	}
	
	
.modal.active .modalWrapper .modalContent .closeModal::before {
    transition: .25s .5s ease-in-out;
    height: 100%;
}
	
.modal.active .modalWrapper .modalContent .closeModal::after{
		transition: .25s .25s ease-in-out;
    	width: 100%;
	}	

.modal.active {
	z-index:1;
	left: 0%;
    animation: fadeIn .25s ease-in-out;
}