<a href="https://forms.gle/h3MV6WH8HqAQxAgg7" target="_blank">Add event</a>
<br />
<br />
<center>
<iframe
  src="https://calendar.google.com/calendar/embed?src=813f5a93d4b027114b145b4da5060f723b223e45d75d8405be0a4fb3b3757ccd%40group.calendar.google.com&ctz=Asia%2FKolkata"
  style="border: 4px"
  width="1000px"
  height="650px"
  frameborder="2px"
  scrolling="Yes"
  style="border-radius: 10px; font-size:large"
></iframe>
</center>

<div class="col-md-12" ng-show="companyRegistration.noUpcomingCompanies" style="padding-top: 50px;">
  <div class="card text-white bg-success">
      <div class="card-body">
          <h3 class="card-title">No upcoming events planned for you !!!!</h3>
          <p class="card-text">Placement & Training Department will update you soon.</p>
          <!--<a href="javascript:void(0)" class="btn btn-dark">Go somewhere</a>-->
      </div>
  </div>
</div>