<div class="card" >
   <!-- Resume Upload Button -->
   <div class="card-body">
       <div class="d-flex no-block align-items-center">
           <div class="ml-auto">
               <!-- <button class="float-right btn btn-circle btn-primary">
                   <a href="https://dashboard.emailjs.com/admin/templates/rlp6n68" target="blank"></a>
               </button> -->

               <button class=" btn  btn-primary" onclick="window.location.href = 'https://dashboard.emailjs.com/admin/templates';" target:"blank"> send </button>
           </div>
       </div>
   </div>
   <ul class="product-review text-center">
       
       <li>
           
           <span>
               <h3 class="card-title">To send Bulk mail  </h3>
               <h5 class="card-title">click on the new button above.You would be redirected to EmailJS site. The login crediantials of that wedsite are as follows : </h5>
               <h5 class="card-title">Username :radhikabhoyarbusiness@gmail.com </h5>
               <h5 class="card-title">Password :newPass23 </h5>
               <h5 class="card-title">After logging in you have to click on the test it button then put your msg in the spaces provided in there and then sen the mail. It would be sent to every <h5 class="card-title">Student User</h5>. </h5>

            </span>
       </li>


      
      
   </ul>

  
</div>


<div class="card" >
  <!-- Resume Upload Button -->
  <div class="card-body">
      <div class="d-flex no-block align-items-center">
          <div class="ml-auto">
              <!-- <button class="float-right btn btn-circle btn-primary">
                  <a href="https://dashboard.emailjs.com/admin/templates/rlp6n68" target="blank"></a>
              </button> -->

              <button class=" btn  btn-primary" onclick="window.location.href = 'https://dashboard.emailjs.com/admin/templates';" target:"blank"> send </button>
          </div>
      </div>
  </div>
  <ul class="product-review text-center">

<li>
           
  <span>
      <h3 class="card-title">To send Personal Mail   </h3>
      <h5 class="card-title">click on the new button above.That would redirect you . The login crediantials of that wedsite are as follows : </h5>
      <h5 class="card-title">Username :radhikabhoyarbusiness@gmail.com </h5>
      <h5 class="card-title">Password :newPass23 </h5>
      <h5 class="card-title">After logging in you can write the message you want to type in for the student. <h5 class="card-title">Student User</h5>. </h5>

   </span>
</li>

</ul>

 
</div>

<!-- <script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('Elp84WyCQuA2OIMpk')
</script>


<script>
   const btn = document.getElementById('button');

document.getElementById('form')
 .addEventListener('submit', function(event) {
   event.preventDefault();

   btn.value = 'Sending...';

   const serviceID = 'default_service';
   const templateID = 'template_qdkc3ei';

   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      btn.value = 'Send Email';
      alert('Sent!');
    }, (err) => {
      btn.value = 'Send Email';
      alert(JSON.stringify(err));
    });
});
</script> -->